body {
    font-family: Arial, sans-serif;
}

header img {
    width: 100px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.menu-item {
    display: inline-block;
    width: 200px;
    text-align: center;
    margin: 10px;
}

button {
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
}
